@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200;500&display=swap");

html,
body {
  font-family: Spectral;
  font-weight: 200;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 500;
}

input,
button {
  padding: 12px 14px;
  border-radius: 4px;
  border: 1px solid #333333;
  font-size: 16px;
}

button {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

.button-small {
  background-color: transparent;
  border: 0;
  font-size: small;
}

.row_one {
  background: blue;
  height: 75px;
}

.row_two {
  flex: 1;
}

.row_three {
  background: yellow;
  flex: 4;
}

.screens {
  min-height: 400px;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.screens > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#screen-loading,
#screen-results {
  display: none;
}

.windspeed {
  font-size: 32px;
  font-weight: 500;
}

.wind-direction {
  font-weight: 500;
  font-size: 20px;
}
